@model IEnumerable<Entities.Course>
@{
    ViewBag.Title = "AlgebraSchoolApp";
}

@using (Html.BeginForm())
{
    <p>
        Pretraga: @Html.TextBox("SearchString")
        <input type="submit" value="Traži" class="btn btn-primary" />
        <input type="button" class="btn btn-primary" value="Reset" onclick="location.href='@Url.Action("Index", "Home")'" />
    </p>
}

<h2>Dobrodošli!</h2>
<p>
    Da bi se prijavili na neki od naših tečajeva kliknite na link prijave:
    <input type="button" class="btn btn-primary" value="Prijava" onclick="location.href='@Url.Action("Create", "Booking")'" />
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td colspan="100" style="text-align: center;">
                <h2>Svi tečajevi</h2>
            </td>
        </tr>
    </thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }
</table>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td colspan="100" style="text-align: center;">
                <h2>Slobodni tečajevi</h2>
            </td>
        </tr>
    </thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>
    @foreach (var item in Model.Where(x => x.Full == false))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>